.profile-search {
    margin: 0 auto;
    max-width: 1251px;
    height: 270px;
    border-radius: 16px;
    background-color: var(--color-content-default);
}

.container-profile-search {
    padding-top: 116px;
}

.profile-search h1 {
    padding-left: 31px;
    padding-top: 54px;
    font-weight: 500;
}

.form-custom::placeholder {
    color: var(--color-font-fourth);
}

.form-custom{
    border: none;
    padding-left: 17px;
    width: 298px;
    height: 40px;
}

.form-container{
    padding-left: 31px;
}

.button-profile-search{
    padding-left: 31px;
}
