@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
    --color-bg-header: #1890FF;
    --color-page-primary: #F7F9FA;

    --color-font-primary: #FFFFFF;
    --color-font-secondary: #000000;
    --color-font-tertiary: #7E7E7E;
    --color-font-fourth: #BFBFBF;
    --color-font-profile: #737373;

    --color-button-primary: #1890FF;

    --color-content-default: #E6F7FF;

    --color-border-primary: #D9D9D9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

main {
    padding: 27px 0;
}

html,
body {
    background-color: var(--color-page-primary);
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}